doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/style.css')
        name Users
    body
        h1 Edit #{user.name}
        form(action=`/change-user/${user._id}` class="add" method="POST")
            label(for="name") Name:
            input(id="name" name="name" value=`${user.name}`)
            label(for="age") Age:
            input(type="number", min="1", id="age" name="age" value=`${user.age}`)
            label(for="status") status:
            input(id="status" name="status" value=`${user.status}`)
            label(for="img") Link for image:
            input(id="img" name="link" value=`${user.link}`)
            button(type="submit") Edit user